<footer>
    <div class="footer__div-first">
        <img class="footer__img" src="./images/coding-magic.png" alt="coding magic">
        <p class="footer__text">Тел: +38 (123) 456 78 90</p>
        <p class="footer__text">E-Mail: codingmagic@gmail.com</p>
        <p class="footer__text">Facebook: CodingMagic</p>
        <p class="footer__text">Twitter: CodingMagic</p>
        <p class="footer__text">Instagram: CodingMagic</p>
    </div>
    <div class="footer__div-second">
        <form class="footer__form">
            <label class="footer__label">
                <input type="email" placeholder="Ваша ел. адреса...">
                <button>Підписатись</button>
            </label>
        </form>
        <p class="footer__input-text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
</footer>