<header class="header">
    <div class="logo" id="logo-container">
    </div>

    <nav class="nav">
      <div class="nav-item">
        Інтерактив
        <div class="dropdown">
          <div>Числовий</div>
          <div>Ігровий</div>
          <div>Ознайомчий</div>
        </div>
      </div>
      <div class="nav-item">
        Наша команда
        <div class="dropdown">
          <div>Про нас</div>
          <div>Місія</div>
          <div>Досягнення</div>
        </div>
      </div>
      <div class="nav-item">
        Контакти
        <div class="dropdown">
          <div>Email</div>
          <div>Телефон</div>
          <div>Месенджери</div>
        </div>
      </div>
    </nav>

    <div class="greeting">
      <button id="themeToggle">🌞</button>
      <span>Вітаємо, User!</span>
    </div>
  </header>